<header role="banner">
    <nav role="navigation" aria-label="Main menu">
        <ul>
            <li>
                <a
                    routerLink="/products"
                    routerLinkActive="active"
                    aria-label="Go to Products page"
                    aria-current="page"
                    >Products</a
                >
            </li>
            <li *ngIf="isLoggedIn$ | async; else loginLink">
                <button
                    class="logout"
                    (click)="onLogout()"
                    aria-label="Logout"
                    tabindex="0"
                    title="Log out"
                >
                    Logout
                </button>
            </li>
            <ng-template #loginLink>
                <li>
                    <button
                        routerLink="/login"
                        routerLinkActive="active"
                        aria-label="Go to Login page"
                        tabindex="0"
                        title="Log in"
                    >
                        Login
                    </button>
                </li>
            </ng-template>
        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
    <p>&copy; 2023 My Awesome Store</p>
</footer>
