<div class="search-container">
    <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search"
        aria-label="Search product"
        (keyup.enter)="searchProducts()"
    />
    <button (click)="searchProducts()">Search</button>
</div>

<div class="product-grid">
    <div
        class="product-card"
        *ngFor="let product of products"
        (click)="goToProductDetails(product._id)"
        routerLinkActive="active"
    >
        <img
            class="product-image"
            [src]="product.image"
            alt="{{ product.name }}"
        />
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">{{ product.price | currency }}</div>
    </div>
</div>
