<div class="search-container">
    <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search"
        aria-label="Search product"
        aria-describedby="search-create-container"
        (keyup.enter)="searchProducts()"
    />
    <button class="btn-primary" (click)="searchProducts()">Search</button>
</div>

<div class="product-grid" role="list">
    <app-product-card
        *ngFor="let product of products"
        [product]="product"
        role="listitem"
    ></app-product-card>
</div>
