.search-container {
    display: flex;
    justify-content: center;
    padding-block: 1rem;

    input[type='text'] {
        margin-right: 0.5rem;
        font-size: 1.2rem;
        border: 2px solid #ccc;
        border-radius: 0.25rem;
        padding: 0.5rem;
        transition: all 0.3s;
        box-sizing: border-box;
        min-width: 25%;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
    }

    button {
        margin-right: 1rem;
        font-size: 1.2rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.3s;
        border: none;
        padding: 0.5rem 1rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.8;
        }

        &.btn-primary {
            background-color: #8c4bff;
            color: #fff;

            &:hover {
                background-color: #7239d9;
            }
        }
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    padding: 0;
    margin: 0;
}
