.product-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;

    h2 {
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        input,
        select {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        button[type='submit'] {
            background-color: #0062cc;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
        }

        button[type='submit']:hover {
            background-color: #0050a6;
        }
    }
}
