<form [formGroup]="productForm">
    <div>
        <label>Name:</label>
        <input type="text" formControlName="name" aria-label="Name" />
    </div>
    <div>
        <label>Description:</label>
        <input
            type="text"
            formControlName="description"
            aria-label="Description"
        />
    </div>
    <div>
        <label>Price:</label>
        <input type="number" formControlName="price" aria-label="Price" />
    </div>
    <div>
        <label>Image:</label>
        <input type="text" formControlName="image" aria-label="Image" />
    </div>
    <div>
        <label>Category:</label>
        <input type="text" formControlName="category" aria-label="Category" />
    </div>
    <div>
        <label>Size:</label>
        <input type="text" formControlName="size" aria-label="Size" />
    </div>
    <div>
        <label>Color:</label>
        <input type="text" formControlName="color" aria-label="Color" />
    </div>
    <div>
        <label>Material:</label>
        <input type="text" formControlName="material" aria-label="Material" />
    </div>
    <div>
        <label>Brand:</label>
        <input type="text" formControlName="brand" aria-label="Brand" />
    </div>
    <div>
        <label>Stock:</label>
        <input type="number" formControlName="stock" aria-label="Stock" />
    </div>

    <button (click)="saveChanges()">Save</button>
    <button (click)="disableEditMode()">Cancel</button>
    <button *ngIf="product" (click)="deleteProduct()">Delete</button>
</form>
