@import 'global.scss';

.product-form {
    display: flex;
    margin: auto;
    flex-direction: column;

    .form-group {
        margin: 0.25rem 0;

        label {
            display: block;
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }
    }

    .form-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
}
