@import 'global.scss';

:host {
    display: flex;
    max-width: 50%;
    margin: auto;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;

        & > .form-group {
            margin-block: 0.25rem;

            &:last-of-type {
                margin-bottom: 1.5rem;
            }

            label {
                display: block;
                font-size: 1.2rem;
                margin-block: 0.5rem;
            }
        }
    }
}
