@import 'global.scss';

:host {
    display: flex;
    max-width: 50%;
    margin: auto;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;

        & > .form-group {
            margin-block: 0.25rem;

            &:last-of-type {
                margin-bottom: 1.5rem;
            }

            label {
                display: block;
                font-size: 1.2rem;
                margin-block: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    :host {
        max-width: 90%;
    }

    form {
        width: 100%;

        & > .form-group {
            margin: 0.5rem 0;

            label {
                font-size: 1rem;
                margin-bottom: 0.25rem;
            }
        }
    }
}
