// BUTTONS
button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        opacity: 0.8;
    }

    &.btn-primary {
        background-color: #8c4bff;
        color: #fff;

        &:hover {
            background-color: #7239d9;
        }
    }

    &.btn-secondary {
        background-color: #eee;
        color: #333;

        &:hover {
            background-color: #ccc;
        }
    }

    &.btn-danger {
        background-color: #ff5252;
        color: #fff;

        &:hover {
            background-color: #ff1744;
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }
}
// INPUTS
input[type='text'],
input[type='password'],
input[type='number'] {
    display: block;
    min-width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    border: 2px solid #ccc;
    transition: all 0.3s;
    box-sizing: border-box;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
}

// TEXTS
h1 {
    font-size: 2rem;
    text-align: center;
}

// ERROR
.error-message {
    text-align: center;
    background-color: #ffebee;
    color: #c62828;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    border: 2px solid #c62828;
}
